<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Planning Poker</title><!--<Bootstrap>core CSS </Bootstrap>-->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--<Custom>styles for this template </Custom>-->
    <link href="/lib/bootstrap/css/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/help">Help</a></li>
        </ul>
        <h3 class="text-muted">Planning Poker</h3></div>
    <div class="well well-lg"><h4 class="text-muted">HowTo</h4><b class="text-muted">Getting Started</b>

        <p>To begin voting the scrum master must create a room and invite team members to the unique URL that is
            provided. A room can be created from the homepage or by using the URL format:
            http://planningpoker.io/scrummaster/{roomname}/</p><b class="text-muted">Voting</b>

        <p>As users log in they will appear on the Scrum Master page, the Scrum Master can begin voting by clicking the
            'New Vote' button and providing an ID or Backlog Number to identify the task that is being voted on. Users
            can now vote on the current topic.</p><b class="text-muted">Reveal</b>

        <p>When a user votes their avatar value will change to an 'X' to signify that their vote is in. The Scrum Master
            can Reveal the votes when all votes are in, or before all votes are in by clicking the Reveal button twice.
            A final value for the vote can be saved by clicking the 'Final Vote' button</p></div>
    <div class="footer"><p>&copy; Planning Poker 2013</p></div>
</div>
</body>