<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Planning Poker</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--<Custom>styles for this template </Custom>-->
    <link href="/lib/bootstrap/css/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
<script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        $('#createRoom').on('click', function() {
            var roomName = (+new Date()).toString(36);
            window.document.location = '/scrummaster/' + roomName;
        });
    });
</script>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
        <h3 class="text-muted">Planning Poker</h3></div>
    <div class="jumbotron"><h1>Planning Poker</h1>

        <p class="lead">A realtime Planning Poker application for distributed Agile teams</p>

        <p><a id="createRoom" role="button" class="btn btn-lg btn-success">Create Room</a></p></div>
    <div class="footer"><p>&nbsp;</p></div>
</div>


</body>
</html>