.card {
  float: left;
  width: 155px;
  height: 100px;
  margin: 5px;
  border: 5px;
  color: #666;
  border: 2px solid #ddd;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  cursor:pointer;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.card:hover {
	background-color:#ddd;
}

.after-card {
  clear: left;
}