.scrummaster .card-large {
	background-image: url(../images/user.png);
	background-size: 100px 100px;
	background-color: #ccc;
	background-repeat: no-repeat;
	font-size: 20px;
	margin-bottom: 50px;
}

.scrummaster .card-large .username {
	top: 0px;
	position:relative;
}

.scrummaster .card-large .vote {
	font-size: 60px;
	padding-left: 70px;
}